body {
   font: 24px Menlo, Helvetica;
   background: #999999;
  }



.case{
  height: 30pt;
  width: 30pt;
  padding: 1pt;
  margin-left: 2px;
}
  #main {
   min-height: 800px;
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
   }

  h1,h2,h3,h4,h5,h6{
    text-align: center;

  }



  #main > article {
   margin: 4px;
   padding: 5px;
   border: 1px solid #cccc33;
   border-radius: 7pt;
   background: #dddd88;
   -webkit-flex: 3 1 60%;
           flex: 3 1 60%;
   -webkit-order: 2;
           order: 2;
   }

  #main > #nav1 {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   background: #ccccff;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 1;
           order: 1;
   }

  #main > #nav2 {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   background: #ccccff;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 3;
           order: 3;
   }

  header, footer {
   display: block;
   text-align: center;
   margin: 4px;
   padding: 5px;
   min-height: 150px;
   border: 1px solid #eebb55;
   border-radius: 7pt;
   background: #ffeebb;
   }

  header:first-letter, footer:first-letter{
    font-size: 160%;
  }
  /* Too narrow to support three columns */
  @media all and (max-width: 640px) {

  header, footer {
  background: #ffeebb;
  min-height: 60px;
  }

   #main, #page {
    -webkit-flex-flow: column;
            flex-flow: column;
            flex-direction: column;
   }

   #main > article, #main > #nav1, #main > #nav2 {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }

   #main > #nav1, #main > #nav2, header, footer {
    min-height: 150px;
   }
  }

article{
  text-align: center;
  }
